html, 
body 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

*
{
  box-sizing: border-box;
}

/* layout */
.ggj
{
  display: flex;
  height: 100%;
}

.ggj-map 
{ 
  flex-grow: 1;
}

.ggj-control
{
  background: #fff;
  position: relative;
}

.ggj-control__content
{
  width: 300px;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.ggj_control_hidden .ggj-control__content
{
  width: 0;
  overflow: hidden;
  padding: 0;
}

.ggj-control__trigger
{
  position: absolute;
  z-index: 2;
  left: -80px;
  top: 40px;
}

/* trigger */

.ggj-ctrl-trigger
{
  font-size: 10px;
  background: #fff;
  padding: 15px 10px;
  width: 80px;
  cursor: pointer;
}

.ggj-ctrl-trigger__show
{
  display: none;
}

.ggj_control_hidden .ggj-ctrl-trigger__show
{
  display: block;
}

.ggj_control_hidden .ggj-ctrl-trigger__hide
{
  display: none;
}

/* widget - brush */
.ggj-brush__btn_active
{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* widget - drawing list  */
.ggj-drawings
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ggj-drawings__item
{
  margin-bottom: 5px;
  padding: 5px 5px;
}

.ggj-drawings__item_hover,
.ggj-drawings__item:hover
{
  background-color: rgba(0, 0, 0, 0.1);
}