html, 
body 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

*
{
  box-sizing: border-box;
}

/* layout */
.ggj
{
  display: flex;
  height: 100%;
}

.ggj-container 
{ 
  flex-grow: 1;
}

.ggj-control
{
  width: 300px;
  background: #fff;
}

.ggj-control__inner
{
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

/* widget - brush */
.ggj-brush__btn_active
{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* widget - drawing list  */
.ggj-drawings
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ggj-drawings__item
{
  margin-bottom: 5px;
  padding: 5px 5px;
}

.ggj-drawings__item_hover,
.ggj-drawings__item:hover
{
  background-color: rgba(0, 0, 0, 0.1);
}